@import '/packages/media/resources/css/media.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.oembed-responsive-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.oembed-responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.post-content a[href] {
    @apply underline text-gray-900 hover:text-primary-500 dark:text-gray-100 dark:hover:text-primary-400
}

.post {
    p {
        margin-bottom: 15px;
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    h5 {
        font-size: 1.15rem;
        margin-bottom: 15px;
    }
     blockquote {
        margin-left: 25px;
    }

     ul {
        @apply list-disc pl-5 space-y-2;
    }

     ol {
        @apply list-decimal pl-5 space-y-2;
    }
}

.card-image {
    img {
        @apply aspect-video object-cover;
    }
}
